@import "./global-css-variables.scss";

#contact {
  background-color: white;
  height: 800px;
  scroll-margin: 70px;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      height: 20%;
      width: 100%;
      margin-top: 0;
    }

    .shake {
      margin-top: 100px;
      height: 800px;
      width: 800px;

      @include mobile {
        margin-top: 75px;
        height: 200px;
        width: 200px;
      }
    }
  }
  .right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      height: 80%;
      margin-top: 0px;
      width: 100%;
    }

    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: #000;
    }

    form {
      width: 70%;
      height: 50%;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      @include mobile {
        width: 100%;
      }

      input {
        width: 80%;
        height: 50px;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid #000;
        margin: 10px 0;
        padding-left: 10px;
      }

      textarea {
        width: 80%;
        margin: 10px 0;
        padding: 10px;
        height: 200px;
        font-size: 14px;
      }

      button {
        width: 150px;
        height: 50px;
        font-size: 14px;
        color: $base-color;
        background-color: greenyellow;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
