@import "./global-css-variables.scss";

.drawer {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: $base-color;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  @include mobile {
    right: -200px;
    width: 200px;
  }

  &.active {
    right: 0;
  }

  ul {
    width: 60%;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
    font-size: 30px;
    color: white;

    li {
      margin-bottom: 35px;
      font-size: inherit;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      @include mobile {
        font-size: 20px;
      }
      &:hover {
        color: yellowgreen;
        font-weight: 600;
        text-decoration: underline;
        font-style: italic;
      }
    }
  }
}
