@font-face {
  font-family: "ES 100" sans-serif;
  font-weight: 100;
  src: url("./fonts/ElasticStretch.ttf") format("ttf"),
    url("fonts/ElasticStretch.otf") format("otf");
}

@font-face {
  font-family: "ES 500" sans-serif;
  font-weight: 500;
  src: url("./fonts/ElasticStretch.ttf") format("ttf"),
    url("fonts/ElasticStretch.otf") format("otf");
}

@font-face {
  font-family: "ES 700" sans-serif;
  font-weight: 700;
  src: url("./fonts/ElasticStretch.ttf") format("ttf"),
    url("fonts/ElasticStretch.otf") format("otf");
}

$base-color: #171717;
$border-dark: rgba($base-color, 0.88);

$mobile-width: 868px;
$laptop-width: 1600px;
$laptop-height: 720px;
$mobile-height: 420px;
$prime: #00ff80;
$second: #0c1016;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin rotated-mobile {
  @media (max-height: $mobile-height) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $mobile-width) and (max-width: $laptop-width) and (max-height: $laptop-height) {
    @content;
  }
}
