@import "./global-css-variables.scss";

#homepage {
  height: calc(100vh - 70px);
  background-color: white;
  scroll-margin: 70px;
  scroll-snap-type: y mandatory;

  .i {
    scroll-snap-align: start;
    display: flex;
    height: 100%;
    background-color: white;

    @include mobile {
      flex-direction: column-reverse;
    }
    @include rotated-mobile {
      flex-direction: column;
    }
  }

  .i-left {
    width: 50%;
    display: flex;
    padding-left: 5%;
    align-items: center;

    @include mobile {
      width: 100%;
      height: 70%;
      align-items: center;
      justify-content: center;
    }

    @include rotated-mobile {
      display: inline-block;
    }
  }

  .i-right {
    width: 50%;
    z-index: 1;
    position: relative;
    @include mobile {
      width: 100%;
      height: 30%;
    }
    @include rotated-mobile {
      display: none;
    }
  }

  .i-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
      margin-top: 7.5%;
      padding: 10px;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      height: 100%;
    }

    @include rotated-mobile {
      margin-top: 0;
      padding: 0;
    }

    h1 {
      letter-spacing: 20px;
      font-size: 60px;

      @include mobile {
        letter-spacing: 5px;
        font-size: 200%;
      }

      @include laptop {
        letter-spacing: 5px;
        font-size: 40px;
      }
    }

    h2 {
      @include mobile {
        font-size: 150%;
      }
    }

    h3 {
      color: #11998e;
      @include mobile {
        font-size: 150%;
      }
    }
  }

  .i-intro {
    font-size: 30px;
    font-weight: 300;

    @include laptop {
      font-size: 25px;
    }
  }

  .i-img {
    width: 100%;
    height: 130%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
  }

  .i-bg {
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background: #00ff80;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include laptop {
      width: 100%;
    }
  }

  .custom-shape-divider-bottom-1639593132 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1639593132 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 209px;

    @include rotated-mobile {
      height: 159px;
    }

    @include laptop {
      height: 109px;
    }
  }

  .custom-shape-divider-bottom-1639593132 .shape-fill {
    fill: url(#MyGradient);
  }
}
