@import "./styles/about.scss";
@import "./styles/backdrop.scss";
@import "./styles/contact.scss";
@import "./styles/drawer.scss";
@import "./styles/experience.scss";
@import "./styles/footer.scss";
@import "./styles/global-css-variables.scss";
@import "./styles/hamburger.scss";
@import "./styles/homepage.scss";
@import "./styles/navbar.scss";
@import "./styles/projects.scss";
@import "./styles/skills.scss";
@import "./styles/wave-loader.scss";

* {
  box-sizing: border-box;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.app {
  font-family: "Roboto", sans-serif;
  height: 100vh;

  .page-sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;

    > * {
      width: 100%;
      scroll-snap-align: start;
    }
  }
}
